*.log
.DS_Store
node_modules
.cache
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
.rts2_cache_system
dist
lib
yarn.lock
package-lock.json
.npmrc
.parcel-cache

coverage
.rollup.cache
playwright-report
test-results
*.d.ts
*.js
*.map